
     <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <div class="error-box">
              <h2><%= @book.errors.count %>errors prohibited this book from being saved:</h2>
              <ul>
                <% @book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
        </div>
       <%= form_with model: @book,local: true do |f| %>
            <div class="field">
              <div class="error-field">
                 <label class="form-title">Title</label><br>
                  <%= f.text_field :title %>
              </div>
            </div>
            <div class="field">
              <div class="error-field">
                 <label class="form-body">Body</label><br>
                <%=f.text_area :body %>
              </div>
            </div>    
            <div class="action">
               <%=f.submit "Create Book" %>
            </div>
            <% end %>
            
          <% else %>
      <%= form_with model:@book,local:true do |f| %>
          <div class="field">
            <label class="form-title">Title</label><br>
              <%= f.text_field :title %>
          </div>
          <div class="field">
            <label class="form-body">Body</label><br>
              <%=f.text_area :body %>
          </div>
          <div class="action">
             <%=f.submit "Update Book" %>
          </div>
      <% end %>
    <% end %>
      <%= link_to "Show", book_path(@book) %>
        |
      <%= link_to "Back", "/books" %>
